<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        tools:targetApi="q">

        <service android:name="com.cutcaps.screcorder.ScreenRecordService"
            android:foregroundServiceType="mediaProjection"
            tools:targetApi="q" />

        <receiver android:name="com.cutcaps.screcorder.NotificationReceiver"/>

    </application>

</manifest>
